html {
  box-sizing: border-box;
}

.moviesContainer {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: flex-start;
}

img {
  width: 150px;
  height: 250px;
}

.movieSectionGeneral {
  width: 250px;
  min-height: 500px;
}

h2 {
  min-height: 55px;
}
